<div class="space-bottom-lg-3">
    <div class="site-features space-2 space-top-lg-3">
        <div class="container">
            <ul class="list-unstyled my-0 list-features overflow-auto d-flex align-items-center justify-content-between">
                <li class="list-feature py-2 py-md-0 flex-shrink-0 flex-xl-shrink-1">
                    <div class="media flex-column align-items-center pr-5 pr-lg-0">
                        <div class="feature__icon font-size-14 text-tangerine text-lh-xs mb-3">
                            <i class="glyph-icon flaticon-delivery"></i>
                        </div>
                        <div class="media-body text-center ml-4 ml-lg-0">
                            <h4 class="feature__title font-size-3 text-dark">Miễn Phí Vận Chuyển</h4>
                            <p class="feature__subtitle m-0 text-dark">2 Sản Phẩm Trở Lên</p>
                        </div>
                    </div>
                </li>
                <li class="list-feature py-2 py-md-0 flex-shrink-0 flex-xl-shrink-1">
                    <div class="media flex-column align-items-center pr-5 pr-lg-0">
                        <div class="feature__icon font-size-14 text-tangerine text-lh-xs mb-3">
                            <i class="glyph-icon flaticon-credit"></i>
                        </div>
                        <div class="media-body text-center">
                            <h4 class="feature__title font-size-3 text-dark">Thanh Toán Tiện Lợi</h4>
                            <p class="feature__subtitle m-0 text-dark">Hỗ trợ nhiều ứng dụng</p>
                        </div>
                    </div>
                </li>
                <li class="list-feature py-2 py-md-0 flex-shrink-0 flex-xl-shrink-1">
                    <div class="media flex-column align-items-center pr-5 pr-lg-0">
                        <div class="feature__icon font-size-14 text-tangerine text-lh-xs mb-3">
                            <i class="glyph-icon flaticon-warranty"></i>
                        </div>
                        <div class="media-body text-center">
                            <h4 class="feature__title font-size-3 text-dark">Chính Sách Hoàn Phí</h4>
                            <p class="feature__subtitle m-0 text-dark">Trong Vòng 30 Ngày </p>
                        </div>
                    </div>
                </li>
                <li class="list-feature py-2 py-md-0 flex-shrink-0 flex-xl-shrink-1">
                    <div class="media flex-column align-items-center pr-5 pr-lg-0">
                        <div class="feature__icon font-size-14 text-tangerine text-lh-xs mb-3">
                            <i class="glyph-icon flaticon-help"></i>
                        </div>
                        <div class="media-body text-center">
                            <h4 class="feature__title font-size-3 text-dark">Hỗ Trợ 24/7</h4>
                            <p class="feature__subtitle m-0 text-dark">Trong 1 Ngày Làm Việc</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="site-footer_v7">
    <div class="space-1 space-lg-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="mb-5 mb-lg-0">
                        <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Thông Tin</h4>
                        <address class="font-size-2 mb-5">
                            <span class="mb-2 font-weight-normal text-white">
                                497 Phan Van Tri , Go Vap  <br> VietNam
                            </span>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="mb-5 mb-lg-0">
                        <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Liên Hệ</h4>
                        <div class="mb-4">
                            <a href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act" class="font-size-2 d-block mb-1 text-white">hoangdanghuy222@gmail.com</a>
                            <a href="tel:0836841560" class="font-size-2 d-block text-white">
                                0836841560
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="mb-5 mb-lg-0">
                        <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Theo Dõi</h4>
                        <ul class="list-unstyled mb-0 d-flex">
                            <li class="btn pl-0">
                                <a class="text-white" href="https://www.instagram.com/_emoghl/">
                                    <span class="fab fa-instagram"></span>
                                </a>
                            </li>
                            <li class="btn">
                                <a class="text-white" href="https://www.facebook.com/huydang2805/">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="btn">
                                <a class="text-white" href="https://twitter.com/Zen_Habuto">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 bg-black">
        <div class="container py-1">
            <div class="d-md-flex text-center text-md-left justify-content-between align-items-center">

                <p class="mb-3 mb-lg-0 font-size-2 text-gray-500">©2022 Chinlike</p>

            </div>
        </div>
    </div>
</footer>
